<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>
    <div class="container">
      <h1>Hola, bienvenidos.</h1>
      <p>Nuestros productos son:</p>
      <ul>
        <% products.forEach(function(product) { %>
          <li><%= product.title %></li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>